<div>
    <!-- 搜索框 -->
    <!--<form id="newsSearchForm" onkeydown="if(event.keyCode==13){submitSearchNews();return false; }">-->
    <!--<table style="height: 100%;">-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td>信息类型</td>-->
    <!--<td colspan="3">-->
    <!--<input class="easyui-combotree" id="type" name="kind" data-options="url:'/admin/view/jsonData/newsType.json',method:'get'">-->
    <!--（可选择任意一个类型）-->
    <!--<script type="text/javascript">-->
    <!--$("#type").combotree({-->
    <!--onChange:function(){-->
    <!---->
    <!--}-->
    <!--});-->
    <!--</script>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>标题：</td>-->
    <!--<td><input type="text" id="title" name="title"></td>-->
    <!--&lt;!&ndash;<td>封面</td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td>&ndash;&gt;-->
    <!--&lt;!&ndash;<select id="hasCover" name="hasCover">&ndash;&gt;-->
    <!--&lt;!&ndash;<option value="">不限</option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option value="1">有</option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option value="0">无</option>&ndash;&gt;-->
    <!--&lt;!&ndash;</select>&ndash;&gt;-->
    <!--&lt;!&ndash;</td>&ndash;&gt;-->
    <!--<td rowspan="4">-->
    <!--<a href="#" onclick="submitSearchNews();" class="easyui-linkbutton">查询</a>-->
    <!--<a href="#" onclick="clearNewsSearchForm();" class="easyui-linkbutton">清空</a>                    -->
    <!--</td>-->
    <!--</tr>-->
    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
    <!--&lt;!&ndash;<td>创建时间</td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td><input id="newsTime1" name="time2" type="text" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"></td>&ndash;&gt;
    -->
    <!--&lt;!&ndash;<td align="center">至</td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td><input id="newsTime2" name="time2" type="text" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"></td>&ndash;&gt;
    -->
    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
    <!--</tbody></table>-->
    <!--</form>-->

    <!-- 数据表（使用js初始化） -->
    <table id="place1List"></table>
</div>


<script type="text/javascript">

$("#place1List").datagrid({
    url: "/admin/place/list1",
    iconCls: 'icon-edit', //图标
    nowrap: true,
    striped: true,
    border: true,
    collapsible: false, //是否可折叠的
    fit: false, //自动大小
    idField: 'pid',
    fitColumns: true,
    singleSelect: false, //是否单选
    pagination: true, //分页控件
    rownumbers: true, //行号
    showFooter: true,
    pageSize: 20,
    pageList: [5, 10, 15, 20, 25, 30],
    //remoteSort: false,//本地排序只能排序本页的内容
    columns: [
        [
            {
                field: 'pid', //这些field根据的是类的属性名而不是数据库的字段名
                title: '店铺编号',
                width: 80,
                align: 'center',
                sortable: true
            },
            {
                field: 'name',
                title: '店铺名称',
                align: 'left',
                width: 220,
                sortable: true
            },
            {
                field: 'updatetime',
                title: '修改时间',
                align: 'center',
                width: 150,
                sortable: true
            },
            {
                field: 'cooperateStr',
                title: '合作状态',
                align: 'center',
                width: 120,
                sortable: true,
                styler: function (value, row, index) {
                    if (value == "不合作") {
                        return 'background-color:#C0C0C0;color:black;';
                    } else if (value == "合作中") {
                        return 'background-color:#0099FF;color:white;';
                    }
                }
            },
            {
                field: 'onbusinessStr',
                title: '营业状态',
                align: 'center',
                width: 120,
                sortable: true,
                styler: function (value, row, index) {
                    if (value == "正在繁忙") {
                        return 'background-color:#C0C0C0;color:black;';
                    } else if (value == "正在营业") {
                        return 'background-color:#0099FF;color:white;';
                    }
                }
            },
            {
                field: 'operate',
                title: '操作',
                align: 'center',
                width: 250,
                formatter: function (value, row, index) {
                    return '<img src="images/edit.gif" title="编辑" style="cursor: pointer;"  onclick="editOneNews(' + index + ')">&nbsp;&nbsp;&nbsp;&nbsp;'
                            + '<img src="images/manager.png" title="商家账号管理" style="cursor: pointer; width: 18px"  onclick="place1UserManage(' + row.pid + ')">&nbsp;&nbsp;&nbsp;&nbsp;'
                            + '<img src="images/ticket.png" title="优惠券管理" style="cursor: pointer; width: 18px"  onclick="tickedManage(' + row.pid + ')">&nbsp;&nbsp;&nbsp;&nbsp;'
                            + '<img src="jquery-easyui-1.3.4/themes/icons/ok.png" title="点击改为[正常营业]" style="cursor: pointer;"  onclick="changeStatus(\'' + row.pid + '\',\'1\')">&nbsp;&nbsp;&nbsp;&nbsp;'
                            + '<img src="jquery-easyui-1.3.4/themes/icons/no.png" title="点击改为[繁忙状态]" style="cursor: pointer;"  onclick="changeStatus(\'' + row.pid + '\',\'2\')">&nbsp;&nbsp;&nbsp;&nbsp;'
                            + '<img src="images/cooperate.gif" title="合作关系设置" style="cursor: pointer;width: 18px;height: 18px" onclick="cooperate(\'' + row.pid + '\',\'place1List\')">&nbsp;&nbsp;&nbsp;&nbsp;'
                            + '<img src="images/dele.gif" title="删除" style="cursor: pointer;" onclick="deleteOne(\'' + row.pid + '\')">';
                }
            }
        ]
    ],
    frozenColumns: [
        [
            {
                field: 'ck',
                checkbox: true
            }
        ]
    ],
    toolbar: [
        {
            text: "添加店铺",
            iconCls: "icon-add",
            handler: function () {
                $("#addPlace1Form").form("clear");
                $("#addPlace1Window").window("open");
            }
        },
        {
            text: "添加菜品",
            iconCls: "icon-add",
            handler: function () {
                addFood();
            }
        },
        "-",
        {
            text: "编辑",
            iconCls: "icon-edit",
            handler: function () {
                editPlace1();
            }
        },
        "-",
        {
            text: "删除所选",
            iconCls: "icon-remove",
            handler: function () {
                var rows = $("#place1List").datagrid("getSelections");
                if (rows.length == 0) {
                    showNoSelectLine();
                    return;
                }
                var idStr = getIdArrayFromRows(rows);
                $.messager.confirm('注意', '危险操作，确定删除所选信息？', function (r) {
                    if (r) {
                        deleteAll(idStr);
                    }
                });
            }
        },
        "-",
        {
            text: "取消所选",
            iconCls: "icon-remove",
            handler: function () {
                $("#place1List").datagrid("unselectAll");
            }
        },
        "-",
        {
            text: "先选中店铺，再点击添加菜品",
            iconCls: "icon-help",
            handler: function () {
            }
        }
    ],
    onDblClickRow: function (index, rowData) {
        //双击的时候先取消所有的选择
        $("#place1List").datagrid("unselectAll");
        //然后选择双击的那一行
        $("#place1List").datagrid("selectRow", index);
        //调用打开窗口方法
    },
    onRowContextMenu: function (e, rowIndex, rowData) {
        e.preventDefault();
        var grid = $("#place1List");
        grid.datagrid("unselectAll");
        grid.datagrid("selectRow", rowIndex);
    },
    onClickCell: function (rowIndex, field, value) {
    }
});

var p = $("#place1List").datagrid('getPager');
p.pagination({
    beforePageText: '第', //页数文本框前显示的汉字
    afterPageText: '页    共 {pages} 页',
    displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录'
});
function seePlace1(id) {
    $.ajax({
        type: "get",
        url: "/admin/place/seePlace1",
        data: {"pid": id},
        success: function (data) {
            var json = eval("(" + data + ")");
            $("#seeNewsForm").form("load", json);
            $("#seeNewsWindow").window("open");
            if (json.language == 1) {
                $("#seeNewsLanguage").attr("checked", "");
                $("#seeNewsLanguage2").attr("checked", "checked");
            }
            //将内容设置到编辑框内（因为easyui不能帮我们设置，只有手动设置了）
            seeNewsEditor.readonly();
            $("#seeNewsForm input").attr("readonly", "readonly");
            seeNewsEditor.html(json.content);
            $("#seeNewsImgUrl").attr("src", json.imgUrl);
        }
    });
}

/**
 * 根据数据表格的行数组获取他们的id列
 */
function getIdArrayFromRows(rows) {
    var str = "";
    for (var i = 0; i < rows.length; i++) {
        if (i != 0) {
            str += ",";
        }
        str += rows[i].pid;
    }
    return str;
}

/**
 * 点击一行上面的删除按钮
 */
function deleteOne(id) {
    if (confirm("危险操作，确定要删除这一条数据吗？")) {
        deleteAll(id);
    }
}

/**
 * 传入要删除的所有id，以逗号间隔，传入并删除
 */
function deleteAll(idStr) {
    $.ajax({
        url: "/admin/place/delete",
        type: "get",
        data: {"idStr": idStr},
        success: function (data) {
            if (data > 0) {
                $.messager.alert("提示", "成功删除了 " + data + " 个数据！");
                //只有成功才更新列表
                $("#place1List").datagrid("reload");
            } else {
                $.messager.alert("提示", "没有删除一个数据！");
            }
        }
    });
}

/**
 * 获取数据列表中已经选择的行，进行编辑
 */
function editPlace1() {
    var rows = $("#place1List").datagrid("getSelections");
    if (rows.length == 1) {
        $.ajax({
            url: "/admin/place/seePlace1?pid=" + rows[0].pid,
            type: "get",
            success: function (data) {
//	     		var json = eval('(' + data + ')');
                $("#addPlace1Form").form("load", data);
//	     		if(json.language==1) {
//	     			$("#addNewsLanguage").attr("checked", "");
//	     			$("#addNewsLanguage2").attr("checked", "checked");
//	     		}
                $("#addPlace1Window").window("open");
                //将内容设置到编辑框内（因为easyui不能帮我们设置，只有手动设置了）
                editor.html(data.description);
//	     		$('#addNewsTypeTree').combotree('setValue', json.typeId);
            }
        });
    } else if (rows.length > 1) {
        $.messager.alert("提示", "您只能选择一行进行编辑！");
    } else {
        $.messager.alert("提示", "您没有选择任何信息进行编辑！");
    }
}

/**
 * 获取数据列表中已经选择的行，进行编辑
 */
function addFood() {
    var rows = $("#place1List").datagrid("getSelections");
    if (rows.length == 1) {
        $.ajax({
            url: "/admin/place/seePlace1?pid=" + rows[0].pid,
            type: "get",
            success: function (data) {
                $("#placeName1").val(data.name);
                $("#placeId1").val(data.pid);
                $("#addFoodWindow").window("open");
            }
        });
    } else if (rows.length > 1) {
        $.messager.alert("提示", "您只能选择一行进行编辑！");
    } else {
        $.messager.alert("提示", "您没有选择任何信息进行编辑！");
    }
}
/**
 * 点击每一行右侧的编辑按钮
 */
function editOneNews(index) {
    $("#place1List").datagrid("unselectAll");
    $("#place1List").datagrid("selectRow", index);
    editPlace1();
}

function changeStatus(pid, status) {
    $.ajax({
        url: "/admin/place/changeStatus",
        data: {pid: pid, status: status},
        type: "get",
        success: function (data) {
            if (data == "1") {
                showMyMsgDialog(5000, "设置状态成功！");
                $("#place1List").datagrid("reload");
            }
        }
    });
}
function place1UserManage(pid) {
    $.ajax({
        url:"/admin/placeUser/get",
        type:"get",
        data:{"pid":pid},
        success:function(data) {
            if(data!=null && data!="" && typeof(data)!="undefined") {
                $("#placeUserManageForm").form("load", data);
                $("#placeUserTip").html("提示：该店铺有账号，请在下面进行修改");
            } else {
                $("#placeUserManageForm").form("clear");
                $("#placeUserTip").html("提示：该店铺没有账号，请在下面进行添加");
            }
            $("#placeUserPid").val(pid);
            $("#placeUserManageWindow").window("open");
        }
    });
}
////清理新闻查询的条件
//function clearNewsSearchForm() {
//	$("#newsSearchForm").form("clear");
//}
</script>