*{
	padding:0px;
	margin:0px;
}
body{
	background-color: #FFFFFF;
	font-family: '微软雅黑';
}
a{
	text-decoration: none;
}
input{
	bodre:none;
}
.clear{
	clear:both;
}
#container{
	width:800px;
	height:500px;
	padding:0px;
	margin:0 auto;
}
.text{
	width:110px;
	height:32px;
	display:block;
	margin-top:10px;
	background:url(../img/logo.png);
	float:left;
	margin-left:10px;
}
#bg_line{
	width:800px;
	height:3px;
	float:left;
	background: #62ab00;
	margin-top:3px;
}
#register{
	float:right;
	display:block;
	margin-top:30px;
	color:gray;
}
#main{
	width:800px;
	height:500px;
	float:left;
}
#box{
	float:left;
	margin:90px 250px;
	position:relative;
}
#box > form > div{
    margin-bottom: 10px;
}
#box > form > div > span{
    width:60px; display: inline-block; vertical-align: middle;
}
#box input{
    vertical-align: middle;
    font: 14px/14px '宋体';
    border:1px solid #ccc;
}
.name, .fake{
    width:200px;
    height: 14px;
    display: none; padding: 5px 10px;
}
.fake{
    display: inline; color: #666
}
#temFix{
    *margin-left: 8px;
}
#submit{
    margin-top: 0px;
}
.config{
	width:205px;
	height:35px;
	margin-top:14px;
	margin-left:60px;
	font-size:18px;
	background:#ff7300;
	border-radius: 4px;
	color:#FFF;
}
#footer{
	width:800px;
	height:30px;
	float:left;
	margin-top:5px;
	text-align:center;
	color:#FFF;
	padding-top:12px;
	font-size:15px;
	border-top:1px solid #C0C0C0;
}
#footer a{
	color:gray;
	padding-left:10px;
}