<div>
    <!-- 搜索框 -->
    <!--<form id="commentSearchForm" style="padding:8px;" onkeydown="if(event.keyCode==13){submitSearchcomment();return false; }">-->
                <!--菜名-->
                <!--<input id="commentName">-->
        <!--店铺：<input class="easyui-combotree" id="dianpuSearch" data-options="url:'/admin/place/getPlaceJson'">-->
                    <!--<a href="#" onclick="submitSearchcomment();" class="easyui-linkbutton">查询</a>-->
                    <!--<a href="#" onclick="clearcommentSearchForm();" class="easyui-linkbutton">清空</a>                    -->
    <!--</form>-->

    <!-- 数据表（使用js初始化） -->
    <table id="commentList"></table>
</div>


<script type="text/javascript">

$("#commentList").datagrid({
    url:"/admin/comment/list",
    iconCls:'icon-edit', //图标
    nowrap:true,
    striped:true,
    border:true,
    collapsible:false, //是否可折叠的
    fit:false, //自动大小
    idField:'id',
    fitColumns:true,
    singleSelect:false, //是否单选
    pagination:true, //分页控件
    rownumbers:true, //行号
    showFooter:true,
    pageSize:20, //每页显示的记录条数，默认为10
    pageList:[5, 10, 15, 20, 25, 30 ], //可以设置每页记录条数的列表
    //remoteSort: false,//本地排序只能排序本页的内容
    columns:[
        [
            {
                field:'id', //这些field根据的是类的属性名而不是数据库的字段名
                title:'编号',
                width:60,
                align:'center',
                sortable:true
            },
            {
                field:'content',
                title:'内容',
                align:'center',
                width:220,
                sortable:true
            },
            {
                field:'description',
                title:'联系方式',
                align:'center',
                width:150,
                sortable:true
            },
            {
                field:'operate',
                title:'操作',
                align:'center',
                width:100,
                formatter:function (value, row, index) {
                    return '<img src="jquery-easyui-1.3.4/themes/icons/back.png" title="查看" style="cursor: pointer;"  onclick="seecomment(\''+row.id+'\')">&nbsp;&nbsp;&nbsp;&nbsp;'
                            +'<img src="images/edit.gif" title="编辑" style="cursor: pointer;"  onclick="editOnecomment('+index+')">&nbsp;&nbsp;&nbsp;&nbsp;'
                            + '<img src="images/dele.gif" title="删除" style="cursor: pointer;" onclick="deleteOne(\''+row.id+'\')">';
                }
            }
        ]
    ],
    frozenColumns:[
        [
            {
                field:'ck',
                checkbox:true
            }
        ]
    ],
    toolbar:[
        "-",
        {
            text:"编辑",
            iconCls:"icon-edit",
            handler:function () {
				editcomment();
            }
        },
        "-",
        {
            text:"删除所选",
            iconCls:"icon-remove",
            handler:function () {
            	var rows = $("#commentList").datagrid("getSelections");
            	if(rows.length==0) {
            		showNoSelectLine();
            		return ;
            	}
            	var idStr = getIdArrayFromRows(rows);
            	$.messager.confirm('注意','危险操作，确定删除所选信息？',function(r){   
            	    if (r) {   
            	    	deleteAll(idStr); 
            	    }   
            	});  
            }
        },
        "-",
        {
            text:"取消所选",
            iconCls:"icon-remove",
            handler:function () {
                $("#commentList").datagrid("unselectAll");
            }
        },
        "-",
        {
            text:"请在店铺管理中添加菜品",
            iconCls:"icon-help",
            handler:function () {
            }
        }
    ],
    onDblClickRow:function (index, rowData) {
        //双击的时候先取消所有的选择
        $("#commentList").datagrid("unselectAll");
        //然后选择双击的那一行
        $("#commentList").datagrid("selectRow", index);
        //调用打开窗口方法
		seecomment(rowData);
    },
    onRowContextMenu:function (e, rowIndex, rowData) {
        e.preventDefault();
        var grid = $("#commentList");
        grid.datagrid("unselectAll");
        grid.datagrid("selectRow", rowIndex);
    },
    onClickCell:function (rowIndex, field, value) {
    }
});

var p = $("#commentList").datagrid('getPager');
p.pagination({

    beforePageText:'第', //页数文本框前显示的汉字
    afterPageText:'页    共 {pages} 页',
    displayMsg:'当前显示 {from} - {to} 条记录   共 {total} 条记录'
});


//理事成员搜索的提交
function submitSearchcomment () {
    $("#commentList").datagrid("load", {
        commentName:$("#commentName").val(),
        pid:$("#dianpuSearch").combotree("getValue")
    });
}

/**
 * 根据数据表格的行数组获取他们的id列
 */
function getIdArrayFromRows(rows) {
	var str = "";
	for(var i=0; i<rows.length; i++) {
		if(i!=0) {
			str += ",";
		}
		str += rows[i].id;
	}
	return str;
}

/**
 * 点击一行上面的删除按钮
 */
function deleteOne(id){
	if(confirm("危险操作，确定要删除这一条数据吗？")) {
		deleteAll(id);
	}
}

/**
 * 传入要删除的所有id，以逗号间隔，传入并删除
 */
function deleteAll(idStr) {
	$.ajax({
		url:"/admin/comment/delete",
		type:"get",
		data:{"idStr":idStr},
		success:function(data) {
			if(data>0) {
				$.messager.alert("提示","成功删除了 " + data + " 个数据！");
				//只有成功才更新列表
				$("#commentList").datagrid("reload");
			} else {
				$.messager.alert("提示","没有删除一个数据！");
			}
		}
	});
}

/**
 * 获取数据列表中已经选择的行，进行编辑
 */
function editcomment() {
	var rows = $("#commentList").datagrid("getSelections");
	if(rows.length ==1) {
		var list = $("#commentList");
		var selectedRow = list.datagrid("getSelected");
		var index = list.datagrid("getRowIndex", selectedRow);
		var json = (list.datagrid("getData")).rows[index];
		$('#addcommentTypeTree').combotree('setValue', json.typeId);
		$("#addcommentForm").form("load", json);
        $("#placeName1").val(json.placeName);
        $("#placeId").val(json.pid);
 		$("#addcommentWindow").window("open");
	} else if(rows.length > 1) {
		$.messager.alert("提示","您只能选择一行进行编辑！");
	} else {
		$.messager.alert("提示","您没有选择任何信息进行编辑！");
	}
}

/**
 * 点击每一行右侧的编辑按钮
 */
function editOnecomment(index) {
	$("#commentList").datagrid("unselectAll");
	$("#commentList").datagrid("selectRow", index);
	editcomment();
}

//清理理事成员查询的条件
function clearcommentSearchForm() {
	$("#commentSearchForm").form("clear");
}

function seecomment(id) {
    $.ajax({
        url:"/admin/comment/see",
        type:"get",
        data:{"id":id},
        success:function(data) {

        }
    });
}
</script>